.mailchimp {
    display: block;
    margin: 0 auto;
    width:300px;
    height:50px;
    background:rgb(25,25,25);
    border-radius: .2em;
    border:none;
    color:rgb(120,185,84);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-transform: uppercase;
    font-size:14px;
    cursor: pointer;
    text-align:center;
    transition: all 300ms ease-in-out;
}

.editable {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    background:rgb(230,230,230);
    border-radius: .2em;
}

.blogs {
    position: relative;

    width:500px !important;
    height: 500px !important;
    background:red;
    margin-left: 20px;
    display: inline;
}

.inside-blogs {
    width:300px;
    height: 300px;
    background:red;
}

#admin-blog {
    background: rgb(245,245,245);
    width:100%;
    height: auto;
}

.admin-panels {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align:center;
    margin-top:50px;
}

.admin-blog-panels {
    margin-left:10px;
    margin-top:10px;
}

.admin-h1 {
    text-align:center;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    transform:translateY(40px);
}

#admin-blog {
    margin-top:-60px;
}

.center-inputs {
    display: block;
    margin: 0 auto;
    text-align: center;
    width:100%;
}

.center-inputs input {
    border:none;
    width:250px;
    height:50px;
    margin-left:15px;
    margin-top:120px;
}

.admin-tutorial {
    font-size:14px;
    font-family:Helvetica, sans-serif;
    margin-left:100px;
    transform: translateY(70px);
}

.login-link-and-dropdown-list {
    text-align: center;
    display: block;
    margin: 0 auto;

}

.submit-btn {
    margin: 0 auto;
    display: block;
    margin-top:100px;
    cursor: pointer;
    background:rgb(31,31,31);
    width:50%;
    color:white;
    height: 50px;
    border:none;
    font-size:20px;
    border-radius:.2em;
    font-family: Helvetica, sans-serif;
}

.admin-message {
    text-align: center;
    font-family: Helvetica, sans-serif;
    transform: translateY(60px);
    font-weight: 200;
}

.panel-text p {
    font-weight: 100;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    transform: translateY(50px);
    color:grey;
}

.delete-btn {
    width:130px;
    height:20px;
    background:rgb(31,31,31);
    border-radius: .2em;
    border:none;
    color:rgb(120,185,84);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-transform: uppercase;
    font-size:14px;
    cursor: pointer;
    text-align:center;
    transition: all 300ms ease-in-out;
}




.show-blog-container {
    width:100%;
    height: auto;
    background:white !important;
}

#show-the-blog {
    width: 90%;
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin: 0 auto !important;
}




#show-title {
    text-align: center;
    font-size:60px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
}

.show-blog-container img {
    width:100%;
    height:400px;
}

.admin-blog-panel-text img {
    filter: grayscale(0%) !important;
}

.blog-img-container {
    width:100%;
    height:500px;
    position: relative;
    overflow: hidden;
    display: none;
    background-attachment: fixed;
}


.fa-arrow-left {
    position:fixed !important;
    top:100px;
    right: 100px;
    z-index: 9999999999999;
    font-size:25px !important;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.admin-message{
    display: none;
}

.show-blog-container {
    background:white !important;
    position: absolute !important;
    top:110px;
    left:0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(100px);
    transition: all 400ms ease-in-out;
}

.fa-arrow-left {
    cursor: pointer;
}

.transform-down {
    animation: transformdown 600ms ease-in-out forwards;
}


@keyframes transformdown {
    0%{
        transform: translateY(0px);
        opacity:1;
    }
    100%{
        transform: translateY(100px);
        opacity:0;
    }
}

.admin-blog-panel-text img {
    width: 100% !important;
    height:auto !important;
}

.admin-p {
    transform: translateY(20px) !important;
}

.delete-btn {
    transform: translateY(-15px) !important;

}

.admin-blog-panels {
    padding-bottom: 100px !important;
}

.admin-h12 {
    font-size: 70px;
    font-family: 'Josefin Sans', sans-serif;
}