.quick-links {
    width: 100%;
    height: 100px;
    white-space: nowrap;
    background-size: cover;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.quick-link-img {
    width: 33.3%;
    height: 100px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    box-shadow: 0 0 20px 0 rgba(0, 200, 0, 0.2), 0 5px 5px 0 rgba(0, 200, 0, 0.24);

}

.quick-link-img:hover{

    z-index: 9999;
}

.quick-link-img h4 {
    text-align:center;
    margin-top:30px;
    font-family:Roboto, sans-serif;
    font-weight: 100;
    font-size:30px;
    position: absolute;
    left: 0;
    right: 0;
    color:white;
}

.design-header {
    width: 100%;
    height: 400px;
    background:red;
    margin-top:-18px;
}

.design-info {
    position: absolute;
}

.design-info h1 {
    font-weight: 100;
    font-size:40px;
    font-family: Roboto, sans-serif;
    margin-top:50px;
    margin-left:50px;

}

.design-info p {
    margin-left: 50px;
}