@media only screen and (max-width: 1200px) {
    .outer-form {
        width: 50% !important;
    }
}


    @media only screen and (max-width: 900px) {
    .responsive-nav {
        display: none;
    }

    .outer-form {
        width: 100% !important;
    }

        .design-circle {
            display: none;
        }

        #c {
            display: none !important;
        }
    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;


    }

    .get-started-text {
        position: relative !important;
        transform: translateY(-100px) !important;
    }

    .get-started {
        transform:translateY(-100px) !important;
    }



    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;


    }



}


@media only screen and (max-width: 600px){
    .nav-logo {
        transform: scale(0.65) translate(-100px, 10px);
        margin-left: 10px !important;
        margin: 0 !important;
    }

    .get-started-text {
        position: relative !important;
        transform: translateY(-100px) !important;
    }

    .responsive-nav {
        margin: 0 !important;
    }

    .wrap h1 {
        font-size:40px !important;
        margin-left:30px !important;
    }

    .wrap p {
        font-size:14px !important;
        margin-left: 30px !important;
    }

    .button-consultation {
        margin-left: 30px !important;
    }
    .get-started {
        font-size:40px !important;
    }

    .outer-form {
        width: 100% !important;
    }

    .get-started {
        transform:translateY(-100px) !important;
    }



    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;


    }





}

@media only screen and (max-width: 400px) {

    .h1-intro {
        font-size:20px !important;
    }

    html, body {
        width: 100% !important;
        height: 100%;
    }

    .get-started {
        transform:translateY(-100px) !important;
    }

    #contact {
        transform: scale(0.7) translateX(-10px) !important;
        margin: 0;
    }

    .wrap p {
        width:100px !important;
        word-wrap: break-word;
        max-width: 100px !important;
    }


    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;



    }

    .get-started-text {
        position: relative !important;
        transform: translateY(-100px) !important;
    }

    .bottom-message {
        width:100% !important;
    }

    nav {
        width: 100% !important;
    }

    .footer {
        height: 1000px !important;
    }


    .intro {
        display: none !important;
    }

    .outer-form {
        width: 100% !important;
    }

    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;


    }

    

}
