@media only screen and (max-width: 1200px) {
    .outer-form {
        width: 50% !important;
    }
    .pin-container {
        margin-left: 50px !important;
    }

}


    @media only screen and (max-width: 900px) {
    .responsive-nav {
        display: none;
    }

        .tos-container {
            margin-left: 10px !important;
            margin-right: 10px !important;
            width: 100%;
            margin-top:80px;
        }

        .tos-container p {
            width:90% !important;
        }
        .pin-container {
            margin-left: 0px !important;
            margin-top: 240px;
        }

        .what-we-do {
            margin-left: 50px !important;
            margin-right: 50px !important;
            margin-top:80px;
        }
        .second-text {
            display: none;
        }
        .panel2 {
            margin-left: 0px !important;
        }
        .smaller2 {
            margin-left: 20px !important;
        }
        .how-does-it-work {
            margin-left: 50px !important;
            margin-right: 50px !important;
        }

        .lower-text h1 {
            margin-left: 20px !important;
        }

        .design-info h1 , .design-info p{
            margin-left: 30px !important;
        }

        .pin{
            margin-top: 20px;

        }

        .design-header {
            height:1000px;
        }



        .outer-form {
        width: 100% !important;
    }

        .design-circle {
            display: none;
        }

        #c {
            display: none !important;
        }
    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;


    }

    .get-started-text {
        position: relative !important;
        transform: translateY(-50px) !important;
    }

    .get-started {
    }
        .nav-dropdown h2 {
            font-size:30px !important;
        }


    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;


    }

        .design-message p {
            font-size:24px !important;
        }


}


@media only screen and (max-width: 600px){
    .nav-logo {
        transform: scale(0.65) translate(-100px, 10px);
        margin-left: 10px !important;
        margin: 0 !important;
    }

    .message {
        font-size:40px !important;
    }

    .nav-dropdown h2 {
        font-size:24px !important;
    }

    .get-started-text {
        position: relative !important;
    }

    .responsive-nav {
        margin: 0 !important;
    }

    .wrap h1 {
        font-size:40px !important;
        margin-left:30px !important;
    }

    .wrap p {
        font-size:14px !important;
        margin-left: 30px !important;
    }

    .button-consultation {
        margin-left: 30px !important;
    }
    .get-started {
    }

    .outer-form {
        width: 100% !important;
    }

    .get-started {
        transform:translateY(0px) !important;
    }



    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;


    }

    .pin{
        margin-top: 20px;
        width: 150px;

    }
    .pin-container{
        margin-left: 30px !important;
    }

    .design-message {
        height: 250px !important;
    }

    .design-message p {
        font-size:24px !important;
    }

    .design-header {
        background: url(https://drivenlocal.com/wp-content/uploads/2015/10/Material-design.jpg) center center no-repeat !important;
        background-position: 0 0 !important;
    }

    .quick h1 {
        font-size: 15px !important;
        margin-top:16px !important;
    }


    .bottom-quick-links {
        height: 50px;
    }

    .development-header {
        height: 1020px !important;
    }

    .development-pin-container {
        margin-top:410px !important;
    }

    .development-info p {
        font-size:12px !important;
        width:300px !important;
    }

}

@media only screen and (max-width: 400px) {
    .nav-dropdown h2 {
        font-size:20px !important;
    }
    .development-pin-container {
        margin-top:410px !important;
    }
    .h1-intro {
        font-size:20px !important;
    }

    .development-info p {
        font-size:12px !important;
        width:300px !important;
    }

    .nav-dropdown h2 {
        font-size:24px !important;
    }

    .development-header {
        height: 1020px !important;
    }

    .quick h1 {
        font-size: 15px !important;
        margin-top:16px !important;
    }

    .bottom-quick-links {
        height: 50px;
    }

    html, body {
        width: 100% !important;
        height: 100%;
    }

    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .get-started {
        transform:translateY(0px) !important;
    }

    #contact {
        transform: scale(0.7) translateX(-10px) !important;
        margin: 0;
    }

    .wrap p {
        width:100px !important;
        word-wrap: break-word;
        max-width: 100px !important;
    }


    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;



    }

    .get-started-text {
        position: relative !important;
    }

    .bottom-message {
        width:100% !important;
    }

    nav {
        width: 100% !important;
    }

    .footer {
        height: 1000px !important;
    }


    .intro {
        display: none !important;
    }

    .outer-form {
        width: 100% !important;
    }

    hr {
        margin-top:-130px !important;
        border-bottom: 10px solid black;
        margin-left: 40px !important;


    }

    .pin{
        width: 150px;

    }

    .design-info p {
        font-size:14px !important;
    }
    .pin-container{
        margin-top: 260px;
        margin-left: 10px !important;

    }

    .design-message {
        height: 250px !important;
    }

    .design-message p {
        font-size:20px !important;
    }

    

}

@media only screen and (max-width: 350px) {
    .design-message {
        height: 250px !important;
    }

    .design-message p {
        font-size:20px !important;
    }
    .design-info p {
        font-size:14px !important;
    }
    .pin-container{
        margin-top: 260px;
        margin-left: 0px !important;

    }

    .development-pin-container {
        margin-top:280px !important;
    }

    .development-info p {
        font-size:10px !important;
        width:300px !important;
        margin-left:10px !important;
    }
    .development-info h1 {
        margin-left: 10px !important;
        font-size: 25px !important;
    }
    .pin{
        width: 130px !important;

    }

    .design-button {
        width:250px !important;
    }
}