@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

body {
    margin:0;
    padding:0;
    overflow-x: hidden;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

html {
    width: 100%;
}

.active-nav {
    background: rgb(118,182,83);
    display: block;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
}

.change-enter, .change-appear {
    opacity: 1;
    animation: opac 2s cubic-bezier(0.165,0.84,0.44,1) forwards ;

}

.change-leave {
    opacity:1;
    animation: opac 2s cubic-bezier(0.165,0.84,0.44,1);


}


.slide-enter, .slide-appear {
    opacity: 1;
    animation: opac2 900ms cubic-bezier(0.165,0.84,0.44,1) forwards ;

}

.slide-leave {
    opacity:1;
    animation: opac2 900ms cubic-bezier(0.165,0.84,0.44,1);


}

@keyframes opac {
    0%{
        opacity: 0;
        transform: translate3D(0,30px,0);

    }


    100% {
        opacity: 1;
        transform: translate3D(0,0px,0);
    }

}


@keyframes opac2 {
    0%{
        opacity:0;
        transform: translate3D(-100px,0px,0);

    }
    100%{
        opacity:1;
        transform: translate3D(0,0,0);

    }
}
