
body {
    margin:0;
    padding:0;
}

.active-nav {
    background: rgb(118,182,83);

    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
}

.change-enter, .change-appear {
    opacity: 1;
    animation: opac 2s cubic-bezier(0.165,0.84,0.44,1) forwards ;

}

.change-leave {
    opacity:1;
    animation: opac 2s cubic-bezier(0.165,0.84,0.44,1);


}

@keyframes opac {
    0%{
        opacity:0;
        transform: translate3D(0,30px,0);

    }
    100%{
        opacity:1;
        transform: translate3D(0,0,0);

    }
}