/* NAVIGATION */

nav {
    width: 100%;
    background: black;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
    height:110px;

}
nav ul {
    list-style: none;
    float:right;
    margin-right:100px;
    margin-top:30px;
}
nav ul li {
    display: inline-block;
}
nav ul img {
    width:300px;
    height:100px;
    position: absolute;
    top:0;
    left:10px;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 2px;
    font-size:13px;

}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: black;
}



nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}
nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}




/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
    }
    100% {
        background: rgb(118,182,83);
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

.fa-bars {
    position: absolute;
    right:40px;
    top:40px;
    font-size:35px !important;
    color:white;
    display: none !important;
    cursor: pointer;
}
/* media queries */

@media (max-width: 900px) {
    nav ul li {
        display: none;
    }
    .fa-bars {
        display: block !important;
    }
}
