/* NAVIGATION */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

nav {
    width: 100%;
    background: black;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
    height:110px;

}
nav ul {
    list-style: none;
    float:right;
    margin-right:100px;
    margin-top:30px;
}


nav ul li {
    display: inline-block;
}
nav ul img {
    width:360px;
    height:100px;
    position: absolute;
    top:0;
    left:10px;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-weight:600;
    font-family: 'Helvetica', sans-serif !important;
    letter-spacing: 2px;
    font-size:16px;

}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: black;
}



nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
nav.circle ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}
nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}




/* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
    }
    100% {
        background: rgb(118,182,83);
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

.fa-bars {
    position: absolute;
    right:40px;
    top:40px;
    font-size:35px !important;
    color:white;
    display: none !important;
    cursor: pointer;
}
/* media queries */

@media (max-width: 900px) {
    nav ul li {
        display: none;
    }
    .fa-bars {
        display: block !important;
    }
}


div.container {
    margin-top:10px;
}
div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 15px Helvetica;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 100;
}





div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background: rgb(120,185,84);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.services-tab {
    position: absolute;
    top:110px;
    right: 100px;
    z-index:9;
    width:800px;
    transition: all 300ms ease-in-out;
    background:white;
    opacity: 1;
    height: 0%;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);


}

.show-img {
    opacity:1 !important;
}

.services-link:hover ~ .services-tab {
    opacity:0;
}

.show-services-tab {
    opacity: 1;
    height: 50%;

}



.services-tab:hover {
    pointer-events: auto;
    opacity:1;
    height: 50%;
}

.pic-tab {
    position: absolute;
    top:0;
    right:0;
    width:300px;
    height:100%;
    background:rgb(120,129,108);
}



.services-tab h1 {
    font-size:13px;
    font-family:"Open Sans", sans-serif;
    font-weight: 100;
}

.services-items {

    width:50px;
    height:100px;
    background:blue;
    z-index:9;
}

.column ul, .column ul li{
    margin:0;
    padding:0 0 0 15px;
    list-style-type: none;
    font-size:13px;
    font-weight: 100 !important;
    font-family:"Roboto", sans-serif;

}

.column il li {
    width:100px;
}

.column{
    float: left;
    margin: 0 10px 0 0;
}

.column h2 {
    font-size:17px;
    font-family:"Roboto", sans-serif;
    font-weight:bold;
    text-align: center;
    color:rgb(118,182,83) !important;

}

.column h2 a {
    transition: all 300ms ease-in-out;
    color:rgb(118,182,83);
    text-decoration: none;
}

.column h2 a:hover {
    color:black;
}

.services-tab h1 {
    font-size:40px;
    font-family:"Roboto", sans-serif;
    font-weight:bold;
    margin-left: 20px;

}



.columns {
    margin-left: -17px;
    font-family:"Open Sans", sans-serif;
}

.pic-tab img {
    width:80%;
    height:70%;
    margin: 0 auto;
    display: block;
    margin-top:46px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}





.services-link {
    height:50px !important;
    padding-bottom: 50px;
}


.show{
    transition: all 300ms ease-in-out;
    transform: translate3D(0,30px,0);
    opacity:0;
}

.show-services-info {
    transform: translate3D(0,0px,0);
    opacity:1;
}

.pic-show {
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.intro {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:black;
    pointer-events: none;
}

.intro img {
    width:500px;
    height: auto;
    margin: 0 auto;
    margin-top:150px;
    display: block;
    position: relative;
}

.design-line {
    animation: insist 2s ease-in-out forwards infinite;
    background:linear-gradient(to left, rgba(255,255,255,0.3), rgba(255,255,255,0.2));
    height:1px;
    position: absolute;
    left: 0;
    right: 0;

}

.intro-gone {
    animation: introgone 300ms ease-in-out 1s forwards;
}

@keyframes introgone {
    0%{
        opacity: 1;
    }
    100%{
       opacity: 0;
    }
}


@keyframes insist {
    0% {
        width: 0%;
        left: 0%;
    }
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0%;
        right: 0;
        left: 100%;
    }
}
