@import url(https://fonts.googleapis.com/css?family=Bangers);

.webgl-header {
    width: 100%;
    height: 400px;
}



#myCanvas {
    background:linear-gradient(0deg ,black, black);
    margin-top:100px;
}

.webgl-overlay {
    position:absolute;
    top:110px;
    left:0;
    width:100%;
    height:100%;
    z-index: 5;
}



.wrap h1 {
    margin-left: 100px;
    font-weight: normal;
    color: #fff;
    font-size:60px;

    white-space: nowrap;
    z-index: 1000;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    -moz-transition-property: font-size;
    -o-transition-property: font-size;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    opacity:0;
    margin-top:80px;
    letter-spacing: -3px;

}

.wrap p {

    margin-left: 100px;
    font-weight: normal;
    color: #fff;
    font-size: 2em;
    white-space: nowrap;
    font-size: 17px;
    z-index: 1000;
    width:200px !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    opacity:0;
    font-weight: 100;
    margin-top:-10px;

}

figure {
    width: 350px;
    height: 60px;
    cursor: pointer;
    perspective: 500px;
    -webkit-perspective: 500px;
    margin-left: 100px;
    opacity: 0;
    margin-top:20px;
    font-family:Questrial,sans-serif !important;
}

figure div {
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.25s;
    -webkit-transition: 0.25s;
}

figure:hover div {
    transform: rotateX(-90deg);
}



@media screen and (max-width: 50em) {
    h1 {
        font-size: 20vw;
    }
}


.slide-up {
    animation: opac 2s cubic-bezier(0.165,0.84,0.44,1) forwards;
}


@keyframes opac {
    0%{
        opacity:0;
        transform: translate3D(0,30px,0);

    }
    100%{
        opacity:1;
        transform: translate3D(0,0,0);

    }
}


.button-consultation {
    width:300px;
    height:50px;
    background:rgb(31,31,31);
    border-radius: .2em;
    border:none;
    color:rgb(120,185,84);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    text-transform: uppercase;
    margin-left: 100px;
    font-size:14px;
    cursor: pointer;
    text-align:center;
    transition: all 300ms ease-in-out;
    opacity:0;
    margin-top:20px;
}



